@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position:absolute;
  content: ' ';
  height: 4px;
  width: 100%;
  background: #2a68ff;
  bottom: -10px;
  color: #2a68ff;
}

.icon {
  cursor: pointer;
}

.card {
  background: #dbd4d4;
}


button:hover {
  color: black;
}